<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>{% block title %}AzzB{% endblock title %}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{% block meta_description %}AzzB.ru - социальная сеть. Данный проект находится в стадии активной разработки, но вы уже можете присоединиться к этому сообществу!{% endblock meta_description %}">
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/fonts.css' %}">
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@400..700,0..1">
		<link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
		<script src="{% static 'js/jquery-3.7.1/jquery-3.7.1.min.js' %}"></script>
		<script src="{% static 'js/common.js' %}"></script>
		{% block metatags %}{% endblock metatags %}
		{% block scripts %}{% endblock scripts %}
	</head>
	<body>
		<header>
			<div class="page-width">
				<div class="header">
					<div class="logocap">
						<div class="site_caption"><h2>{% if request.path != '/' %}<a href="/">AzzB</a>{% else %}<p>AzzB</p>{% endif %}</h2></div>
					</div>
				</div>
			</div>
		</header>
		<nav>
			<div class="page-width">
				<div class="underheader_menu">
					<ul class="hot-categories">
						<li><a href="#">Горячее</a></li>
						<li><a href="#">Интересное</a></li>
						<li><a href="{% url "follows-updates" %}">Новое от подписок</a></li>
					</ul>
					<ul class="auth-search">
						<li class="search"><a href="#">Поиск</a></li>
						{% if user.is_authenticated %}
							<li class="new-post"><a href="{% url 'profile' user %}">Новый пост</a></li>
						{% endif %}
						<li class="auth-account">
							{% if user.is_authenticated%}
								<a href="#" data-target="dropdown_menu">{{ user }}</a>
								<ul id="account" class="dropdown-menu">
									<li class="header-avatar"><img class="avatar" src="{{ user.profile.avatar.url }}"></li>
									<li class="header-profile"><a href="{% url 'profile' user %}">Профиль</a></li>
									<li class="header-settings"><a href="{% url 'edit-profile' %}">Редактировать</a></li>
									{% comment %} <li class="logout"><a href="{% url 'logout' %}?next={{ request.path|urlencode }}">Выйти</a></li> {% endcomment %}
									<li class="logout">
										<form id="logout-form" method="post" action="{% url 'logout' %}?next={{ request.path|urlencode }}">
											{% csrf_token %}
											<button type="submit"><a>Выйти</a></button>
										</form>
									</li>
								</ul>
							{% else %}
								<a href="#" data-target="dropdown_menu">Авторизация</a>
								<ul id="account" class="dropdown-menu">	
									<li class="login"><a href="{% url 'login' %}?next={{ request.path|urlencode }}">Войти</a></li>
									<li class="register"><a href="{% url 'signup' %}">Регистрация</a></li>
								</ul>
							{% endif %}
							
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="content">
			<div class="page-width">
				<div class="content-wrapper">
					<div class="content-body">
						{% block content %}
						{% endblock content %}
					</div>
					<div class="sidebar">
						{% block sidebar %}
						{% endblock sidebar %}
					</div>
				</div>
			</div>	
		</div>
		<footer>
			<div class="page-width">
				<div class="footer-menu">
					<div class="footer-menu__block">
						<p>Аккаунт</p>
						<ul>
							<li><a href="#">AAA</a></li>
							<li><a href="#">AAA</a></li>
							<li><a href="#">AAA</a></li>
						</ul>
					</div>
					<div class="footer-menu__block">
						<p>Разделы</p>
						<ul>
							<li><a href="#">AAA</a></li>
							<li><a href="#">AAA</a></li>
							<li><a href="#">AAA</a></li>
						</ul>
					</div>
					<div class="footer-menu__block">
						<p>О сайте</p>
						<ul>
							<li><a href="#">AAA</a></li>
							<li><a href="#">AAA</a></li>
							<li><a href="#">AAA</a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>