{% extends "./azzb_base.html" %}
{% load show_posts %}
{% block title %}Обновления подписок{% endblock title %}
{% block metatags %}
	<meta name="yandex-verification" content="461141e64faf3f9b">
	<meta name="mailru-domain" content="6mUzAjqGDGUqpJ3y">
{% endblock metatags %}
{% block content %}
	{% if latest_posts %}
		<div class="feed_wall">
			{% block posts%}
				{% for post in latest_posts %}
					{% show_posts %}
				{% endfor %}
			{% endblock posts %}
		</div>
	{% else %}
		<div class="warning no_post">Постов нет!</div>
	{% endif %}
{% endblock content %}
{% block sidebar_right %}

{% endblock sidebar_right %}