{% extends "azzb/azzb_base.html" %}
{% load static %}
{% load show_posts %}
{% block title %}AzzB{% endblock title %}
{% block content %}
	{% if follows_posts %}
		<div class="feed_wall">
			{% block posts%}
				{% for post in follows_posts %}
					{% show_posts %}
				{% endfor %}
			{% endblock posts %}
		</div>
	{% else %}
		<div class="warning no_post">У вас нет либо подписок, либо у них нет постов!</div>
	{% endif %}
{% endblock content %}
{% block sidebar_right %}

{% endblock sidebar_right %}