{% extends "azzb/azzb_base.html" %}
{% load static %}
{% load show_posts %}
{% block title %}Горячее{% endblock title %}
{% block content %}
	{% if posts %}
		<div class="feed_wall">
			{% block posts%}
				{% for post in posts %}
					{% show_posts %}
				{% endfor %}
			{% endblock posts %}
		</div>
	{% else %}
		<div class="warning no_post">А псоты-то, закончились!</div>
	{% endif %}
{% endblock content %}
{% block sidebar %}
	<ul>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
{% endblock sidebar %}