<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>{% block title %}Twitter.ru{% endblock title %}</title>
		<meta charset="utf-8">
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" />
		<link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
		<script src="{% static 'js/common.js' %}"></script>
	</head>
	<body class="login-page">
		<header>
			<div class="page-width">
				<a href="/">Manshoo.ru</a>
			</div>
		</header>
		{% block content %}
		{% endblock content %}
	</body>
</html>