* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
body {
	margin: 0;
	background-color: #ebebeb;
}
h1 {
	margin: 0;
}
header h2 {
	margin: 0;
	font-size: 28px;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
header {
	background-color: #e1f7f7;
}
p {
	margin: 0;
}
a {
	color: #333;
	text-decoration: none;
}
.content {
	margin-top: 10px;
}
.underheader_menu > ul {
	display: flex;
	justify-content: center;
	align-items: center;
}
.underheader_menu > ul > li {
	padding: 0 10px;
}
.page-width {
	width: 1200px;
	margin: 0 auto;
}
img.site_logo {
	width: 50px;
	height: 50px;
}
.site_caption {
	margin-left: 40px;
}
.header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 2px 0;
}
.logocap {
	display: flex;
	align-items: center;
}
.underheader_menu {
	display: flex;
	justify-content: space-between;
}
nav {
	padding: 5px 0;
	background-color: #fff;
	position: sticky;
	top: 0;
}
.feed_wall {
	width: 780px;
}

/* post */
.post:first-child {
	margin-top: 0px;
}
.post {
	background-color: #fff;
	margin: 10px 0;
	padding: 10px;
}
.post_text {
	margin-top: 10px;
}
.post_date {
	text-align: right;
}
.post_thumbs {
	display: flex;
	align-items: center;
	justify-content: center;
}
.post_thumb {
	max-width: 350px;
}
.post-footer {
	display: flex;
	justify-content: flex-end;
}
.post_author {
	margin-right: 15px;
}

.sidebar {
	width: 30%;
	background-color: #fff;
}
.content-wrapper {
	display: flex;
}
footer {
	background-color: #3c5252;
}
.footer-menu {
	display: flex;
	justify-content: space-between;
}
.footer-menu a, .footer-menu p {
	color: #e5e5e5;
}

.dropdown-menu {
	display: none;
}
.dropdown-menu-open {
	display: block;
	position: absolute;
}
.content-body {
	width: 70%;
}

/* account authentication */
#account {
	top: 20px;
	background-color: #fff;
	padding: 7px;
	box-shadow: 0px 0px 4px 1px #d5d5d5;
	width: 100px;
}
#account > li {
	margin: 6px 0;
}
#account > li:first-child {
	margin-top: 0;
}
#account > li:last-child {
	margin-bottom: 0;
}
.auth-account {
	position: relative;
}
#account .avatar {
	width: 60px;
}

/* user profile */
.profile-page {
	width: 780px;
}

.profile-avatar {
	width: 120px;
}
.profile-header {
	display: flex;
}
.aka {
	display: inline-block;
	background: #e9e9e9;
	color: #959595;
	border-radius: 4px;
	padding: 2px;
	margin: 0 4px;
}
.profile {
	background: #fff;
}
#profile-feed {
	margin-top: 10px;
}

/* login/signup form */
.login-error, .signup-error {
	border: 1px solid #d9afaf;
	border-radius: 6px;
	background: #f7d9d9;
	padding: 13px;
	width: 480px;
}
.login-form, .signup-form {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}
.login-form form, .signup-form form {
	width: 100%;
}
.login-form label, .login-form input, .signup-form label, .signup-form input {
	display: block;
	margin: 7px 0;
}
.login-form a, .signup-form a {
	text-decoration: underline;
}
.signup-helptext {
	color: #747474;
	margin: -4px 0;
}