{% extends "azzb/azzb_base.html" %}

{% block title %}Авторизация{% endblock title %}
{% block meta_description %}Авторизация для доступа к основным функциям сайта{% endblock meta_description %}
{% block content %}
	{% if user.is_authenticated %}
		<p>Вы уже авторизованы!</p>
	{% else %}
		{% if form.errors %}
			<div class="login-error">
				<p>Имя пользователя и/или пароль не подходят. Попробуйте ещё раз.</p>
			</div> 
		{% endif %}
		{% if next %}
			{% if user.is_authenticated %}
				<div class="login-error">
					<p>У вашего аккаунта нет доступа к этой странице. Чтобы продолжить, пожалуйста водите в другой аккаунт.</p>
				</div>
			{% endif %}
		{% endif %}
		<div class="login-form">
			<form method="post" action="{% url 'login' %}">
				{% csrf_token %}
				{{ form.username.label_tag }}
				{{ form.username }}
				{{ form.password.label_tag }}
				{{ form.password }}

				<button type="submit" id="submit" >Войти</button>
				<input type="hidden" name="next" value="{{ next }}">
			</form>

			<p class="forgot-password"><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
		</div>
	{% endif %}
{% endblock content %}
{% comment %}
	{% block sidebar %}
	{% if user.is_authenticated %}
		do smth...
	{% else %}
	{% endif %}
{% endcomment %}

