{% extends "azzb/azzb_base.html" %}

{% block content %}
	{% if validlink %}
		<div class="password-reset-form">
			<p>Введите и подтвердите свой новый пароль:</p>
			<form action="" method="post">
				{{ csrf_token }}
				<div class="new-password1">
					{{ form.new_password1.errors }}
					<label for="id_new_password1">Новый пароль:</label>
					{{ form.new_password1 }}
				</div>
				<div class="new-password2">
					{{ form.new_password2.errors }}
					<label for="id_new_password2">Подтверждение:</label>
					{{ form.new_password2 }}
				</div>
				<input type="submit" value="Изменить пароль" />
			</form>
		</div>
	{% else %}
		<h1>Не удалось сбросить пароль</h1>
		<div class="password-reset-failed">
			<p>Ссылка на сброс пароля оказалась недействительной, возможно, потому что она уже была использовалась. Пожалуйста, <a href="{% url 'password_reset' %}">запросите</a> новый пароль.</p>
		</div>
	{% endif %}
{% endblock content %}