{% extends "azzb/twitter_base.html" %}
{% block title %}{{profile.user}}{% endblock title %}
{% block content %}
	<div class="profile-page">
		<div class="profile">
			<div class="profile-header">
				<img src="{{ profile.avatar.url }}" alt="" class="profile-avatar">
				<div class="profile-username">{{profile.user.username}} {% if profile.user.username != profile.username %}<div class="aka">aka</div> {{profile.username}}{% endif %}</div>
			</div>
			<div class="profile-body">
				<div class="profile-bio">
					{% if profile.bio %}
						{{profile.bio}}
					{% else %}
						No bio...
					{% endif %}
				</div>
			</div>
		</div>
		<div id="profile-feed">
			{% if profile.has_posts %}

				{% include 'azzb/profile_posts.html'%}
				{% block posts %}
			
				{% endblock posts %}
			{% else %}
				<div class="no_post">
					Нема...
				</div>
			{% endif %}
		</div>
	</div>
	
{% endblock content %}
{% block sidebar %}
	<ul class="profile-statistics">
		<li>{% if profile.user.last_login %}Последний вход: {{profile.user.last_login}}{% endif %}</li>
		<li>Дата регистрации: {{ profile.user.date_joined|date:"m.d.Y"}}</li>
		<li></li>
	</ul>
{% endblock sidebar %}