{% extends "azzb/azzb_base.html" %}
{% block title %}{{profile.username}}{% endblock title %}
{% block meta_description %}Крутой юзер!{% endblock meta_description %}
{% load static %}
{% load show_posts %}
{% block scripts %}
	<script src="{% static 'js/profile.js' %}"></script>
{% endblock scripts %}
{% block content %}
	<div class="profile-page">
		<section class="profile">
			<article class="profile-header">
				<img src="{{profile.avatar.url}}" class="profile-avatar">
				<div class="wrapper-profile-header-info">
					<div class="profile-username">
						<span>{{profile.user.username}}</span>
						{% if profile.user.username != profile.username %}
							<span class="aka">aka</span>
							<span>{{profile.username}}</span>
						{% endif %}
						{% if profile.user.is_staff %}
							<span class="material-symbols-outlined verified">verified</span>
						{% endif %}</div>
					<div class="profile-bio">{% if profile.bio %}{{profile.bio}}{% else %}No bio...{% endif %}</div>
				</div>
			</article>
			<div class="profile-body">
				{% if request.user == profile.user %}
				<div class="new-post-form">
					{% csrf_token %}
					<div class="wrapper-post-text">
						<div name="new_post" id="id__post-text" role="textbox" contenteditable="true" data-placeholder="Хммм..." onfocus="showEditPost()" aria-multiline="true"></div>
					</div>
					<div class="wrapper-form-actions">
						<div class="form-actions">
							<button name="form_actions" type="submit" id="submit">Постим?</button>
						</div>
					</div>
				</div>
				{% endif %}
			</div>
			{% comment %} <hr class="hr-profile"> {% endcomment %}
		</section>
		<div id="profile-feed">
			{% if profile_posts %}
				{% block posts %}
					{% for post in profile_posts %}
						{% show_posts %}
					{% endfor %}
				{% endblock posts %}
			{% else %}
				<div class="no_post">
					Нема...
				</div>
			{% endif %}
		</div>
	</div>
{% endblock content %}
{% block sidebar_right %}
	<div class="profile-info">
		<ul class="profile-statistics">
			<li>{% if profile.user.last_login %}Последний визит: {% if not profile.user.last_visit %}
				{{profile.user.last_login}}
				{% else %}
				{{profile.user.last_visit}}
				{% endif %}
				{% endif %}</li>
			<li>Дата регистрации: {{profile.user.date_joined|date:"d.m.Y"}}</li>
		</ul>
		{% if profile.follows != profile %}
			<div class="following">
				<h3>Подписан на</h3>
				<ul class="following__profiles-list">
					{% for following in profile.follows.all %}
					<li><a href="{% url 'profile' following.user %}">{{following}}</a></li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
		{% if profile.follows != profile %}
			<div class="followed-by">
				<h3>Папищики</h3>
				<ul class="followed-by__profiles-list">
					{% for following in profile.followed_by.all %}
					<li><a href="{% url 'profile' following.user %}">{{following}}</a></li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
	</div>
{% endblock sidebar_right %}