{% extends "twitter/twitter_base.html" %}

{% if error_messages %}
	<!-- <div class="login-error">
		<p>Имя пользователя и/или пароль не подходят. Попробуйте ещё раз.</p>
	</div> -->
	{{ error_messages }}
{% endif %}
{% if next %}
	{% if user.is_authenticated %}
		<p>У вашего аккаунта нет доступа к это странице. Чтобы продолжить, пожалуйста водите в аккаунт у которого есть доступ.</p>
	{% else %}
		<p>Чтобы увидеть содержимое страницы <a>войдите</a> пожалуйста.</p>
	{% endif %}
{% endif %}
{% block content %}
	<div class="login-form">
		<form method="post" action="{% url 'login' %}">
			{% csrf_token %}
			{{ form.username.label_tag }}
			{{ form.username }}
			{{ form.password.label_tag }}
			{{ form.password }}

			<input type="submit" value="login" />
			<input type="hidden" name="next" value="{{ next }}" />
		</form>

		<p class="forgot-password"><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
	</div>
{% endblock content %}